<div class="viewSection">
	<a href="#/"><h2 class="title">This is the Game Of Life</h2></a>

	<form name= "selectStats">
       <label for="iterations">Cycles: </label>
       <input type="number" min="1" max="99"  ng-model= "game.iterations" placeholder="##"/>
       <label for="rows">Rows: </label>
       <input type="number" min="1" max="10"  ng-model= "game.length" placeholder="##"/>
       <label for="iterations">Colums: </label>
       <input type="number" min="1" max="20"  ng-model= "game.width" placeholder="##"/>
       <button type="submit" class="startButton" ng-click="create(game)">Create</button>
       <button type="submit" class="runButton" ng-class="{'hide': value}" ng-click="start(game)">Start</button>
   </form>

   	<h4 class="pageTitle">Bring Cells To Life:</h4>

<div class="table">
	 <table align="center">
  		<tr ng-repeat="row in game.rows">
    		<td ng-repeat="col in game.columns"><button id="{{row+col}}" class="{{row+col}} {{col}} {{row}}" ng-class="{'Alive': isActive{{row+col}}}" ng-click="alert(row+col)"></button></td>
 		</tr>
	</table>
</div>

</div>
